/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  color:rgba(45, 45, 45, 0.649);
 }

.question {
  border-left: 4px solid rgba(170, 170, 170, 0.555);
  padding: 7px 15px;
}

.answer {
  border-left: 4px solid rgba(170, 170, 170, 0.555);
  padding: 7px 15px;
  background-color: rgba(254, 255, 189, 0.895);
}

.return {
  text-decoration: none;
  color: rgba(75, 113, 252, 0.697);
}
